.projectContainer {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "image"
    "btns"
    "info"
    "stack"
    ; 
    border-style: solid;
    border-color: rgb(92, 92, 92);
    border-width: 0.2rem;
    border-top: 10px;
    border-right: 10px;
    border-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.btnContainer{
  grid-area: btns;
  display: flex;
  gap: 1rem;
}
.btnContainer a{
  display: flex;
  gap: 0.7rem;
  background-color: var(--color-link);
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(92, 92, 92,0.5);
  width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.1rem;
}
.projectImage {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: image;
  width: 100%;
  height: 100%;
}
.projectStack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  grid-area: stack;
}
.stackBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-radius: 1rem;
  font-size: var(--font-size-small);
  color: var(--color-text);
  background-color: var(--color-surface);
  font-weight: 500;
  border-color: rgba(92, 92, 92,0.5);
  border-width: 1px;
}
.projectInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: info;
  
}
@media (min-width: 520px) {
  .projectContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,minmax(auto,1fr));
    grid-template-areas:
      "image stack"
      "image btns"
      "info info";
   
  }
  .projectImage {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: image;
    min-width: 300px;
  }
 .projectImage img{
  height: 100%;
 }
  .projectStack {
    display: grid;
    gap: 0.5rem;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: 50px 50px 50px 50px;
    grid-area: stack;
  }
  .btnContainer{
  grid-area: btns;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
  .stackBtn {
    width: 100%;
  }

  .projectInfo {
    grid-area: info;
  }
}
