@import "tailwindcss";
@import "./variables.css";
@import "./themes.css";
* {
  box-sizing: border-box;
}
body,
html {
  background-color: var(--color-background);
}
header {
  background-color: var(--color-background);
  color: var(--color-text);
}
footer {
  background-color: var(--color-background);
  color: var(--color-text);
}
h1 {
  color: var(--color-text);
}
p {
  color: var(--color-text);
}
