@import "tailwindcss";
@import "./variables.css";
@import "./themes.css";
* {
  box-sizing: border-box;
}
body,
html {
  background-color: var(--color-background);
}
header {
  background-color: var(--color-background);
  color: var(--color-text);
}
h1 {
  font-size: var(--font-size-h1);
  color: var(--color-text);
}
main section {
  width: 40rem;
  max-width: 100%;
  min-height: 85dvh;
}
.home p {
  font-size: var(--font-size-body);
  color: var(--color-text);
}
footer {
  background-color: var(--color-background);
  color: var(--color-text);
}
