@import "tailwindcss";
@import "./variables.css";
@import "./themes.css";
* {
  box-sizing: border-box;
}
body,
html {
  background-color: var(--color-background);
}
header {
  background-color: var(--color-background);
  color: var(--color-text);
}
h1 {
  font-family: var(--font-mono);
  font-size: var(--font-size-h1);
  color: var(--color-text);
}
h2 {
  font-family: var(--font-mono);
  font-size: var(--font-size-h2);
  color: var(--color-text);
}
h3 {
  font-size: var(--font-size-h3);
  color: var(--color-text);
}
main section {
  width: 40rem;
  max-width: 100%;
  margin-bottom: 5rem;
  /*min-height: 100dvh;*/
}
#home,
#projects,
#skills,
#about {
  /* PARA QUE EL NAVMENU NO SE SOBREPONGA AL CONTENIDO AL NAVEGAR MEDIANTE LOS LINKS DEL NAV */
  padding-top: 80px; /* Igual a la altura del nav */
  margin-top: -80px; /* Compensa el padding */
}
.home p {
  font-size: var(--font-size-body);
  color: var(--color-text);
}
footer {
  background-color: var(--color-background);
  color: var(--color-text);
}
