@import "tailwindcss";
@import "./variables.css";
@import "./themes.css";
* {
  box-sizing: border-box;
}
body,
html {
  background-color: var(--color-background);
}
.btn-theme {
  background-color: var(--color-btn);
  border-radius: 2rem;
  padding: 1rem;
  color: var(--color-text);
}
