[data-theme="light"] {
  /* Tema claro */
  --color-primary: #a2bde9;
  --color-secondary: #5f30cc;
  --color-background: #ffffff;
  --color-aside-background: #92a7c0;
  --color-border-btn:#85b1f3;
  --color-btn: #767171;
  --color-surface: #abcfffc4;
  --color-text: #1e293b;
  --color-text-secondary: #64748b;
  --color-border: #e2e8f0;
  --color-error: #ef4444;
  --color-success: #10b981;
  --color-warning: #f59e0b;
}
[data-theme="dark"] {
  /* Tema oscuro */
  --color-primary: #60a5fa;
  --color-secondary: #a78bfa;
  --color-background: #0f172a;
  --color-border-btn:#6d6fbb;
  --color-aside-background: #051024;
  --color-btn: #b9b1b1;
  --color-surface: #6e41e9;
  --color-text: #f1f5f9;
  --color-text-secondary: #94a3b8;
  --color-border: #334155;
  --color-error: #f87171;
  --color-success: #34d399;
  --color-warning: #fbbf24;
}
[data-theme="blue"] {
  /* Tema azul personalizado */
  --color-primary: #2563eb;
  --color-secondary: #1d4ed8;
  --color-background: #eff6ff;
  --color-aside-background: #dbeafe;
  --color-surface: #dbeafe;
  --color-text: #1e3a8a;
  --color-text-secondary: #3b82f6;
  --color-border: #93c5fd;
  --color-error: #dc2626;
  --color-success: #059669;
  --color-warning: #d97706;
}
