[data-theme="light"] {
  /* Tema claro */
  --color-primary: #a2bde9;
  --color-secondary: #5f30cc;
  --bg-gradient:linear-gradient(135deg, rgba(58, 50, 50, 0.1) 0%, rgba(168, 113, 113, 0.05) 100%),
        radial-gradient(circle at 20% 80%, rgba(247, 247, 247, 0.3) 0%, transparent 50%),
        radial-gradient(circle at 80% 20%, rgba(163, 167, 160, 0.3) 0%, transparent 50%),
           linear-gradient(120deg, #030303 0%, #1a1b1b 100%);
  --color-background: #ffffff;
  --color-aside-background: #92a7c0;
  --color-border-btn: #85b1f3;
  --color-btn: #767171;
  --color-surface: #b9c7dac4;
  --color-text: #1e293b;
  --color-text-secondary: #64748b;
  --color-border: #e2e8f0;
  --color-error: #ef4444;
  --color-success: #10b981;
  --color-warning: #f59e0b;
}
[data-theme="dark"] {
  /* Tema oscuro */
  --color-primary: #60a5fa;
  --color-secondary: #a78bfa;
  --color-background: #0f0f0f;
    --bg-gradient:linear-gradient(135deg, rgba(58, 50, 50, 0.1) 0%, rgba(168, 113, 113, 0.05) 100%),
        radial-gradient(circle at 20% 80%, rgba(247, 247, 247, 0.3) 0%, transparent 50%),
        radial-gradient(circle at 80% 20%, rgba(163, 167, 160, 0.3) 0%, transparent 50%),
           linear-gradient(120deg, #030303 0%, #1a1b1b 100%);
  --color-border-btn: #6d6fbb;
  --color-aside-background: #051024;
  --color-btn: #b9b1b1;
  --color-surface: #1a181f6e;
  --color-text: #f1f5f9;
  --color-text-secondary: #94a3b8;
  --color-border: #334155;
  --color-error: #f87171;
  --color-success: #34d399;
  --color-warning: #fbbf24;
}
[data-theme="blue"] {
  /* Tema azul personalizado */
  --color-primary: #2563eb;
  --color-secondary: #1d4ed8;
  --color-background: #eff6ff;
  --color-aside-background: #dbeafe;
  --color-surface: #dbeafe;
  --color-text: #1e3a8a;
  --color-text-secondary: #3b82f6;
  --color-border: #93c5fd;
  --color-error: #dc2626;
  --color-success: #059669;
  --color-warning: #d97706;
}
