:root {
  /* Colores */
  --color-background: #ffffff;
  --color-aside-background: #f1f5f9;
  --color-primary: #3b82f6;
  --color-secondary: #8b5cf6;
  --color-surface: #f8fafc;
  --color-text: #1e293b;
  --color-text-secondary: #64748b;
  --color-border: #e2e8f0;
  --color-error: #ef4444;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  /* ===== TIPOGRAFÍA ===== */
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
  --font-serif: "Georgia", "Times New Roman", serif;
  /* TAMAÑO DE FUENTE */
  /* Texto */
  --font-size-body: 1.2rem;
  --font-size-small: 0.875rem;
  --font-size-caption: 0.75rem;

  /* Encabezados */
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.75rem;
  --font-size-h3: 1.35rem;
  --font-size-h4: 1rem;

  /* Componentes */
  --font-size-button: 0.875rem;
  --font-size-input: 1rem;
  --font-size-label: 0.875rem;

  /* Especiales */
  --font-size-lead: 1.25rem;
  --font-size-display: 3.5rem;
}
